*{
  margin: 0px;
  padding: 0px;
}

body{
    font-family: 'Lato', sans-serif;
  }


.container_footer{
  background: #FAFAFA;
  color: #757575;
  padding: 30px 0;
}

.container_custom{
  max-width: 1750px;
  padding: 0 15px;
}

.social_footer{
  margin-top: 50px;
}

.social_footer i{
   font-size: 35px;
   margin: 0 11px;
}

.navbar-toggler {
  margin-top: 15px;
}
.title_custom{
  border-bottom: 1px solid #B0B0B0;
  color: #000000;
  font-weight: 300;
  text-align: center;
  margin: 60px 0 30px 0;
}
.categories{
  background-size: auto 100%;
  background-position: center center;
  position: relative;
  width: 100%;
  border-radius: 50%;
  overflow: hidden;
}
.categories::before{
  content: "";
  padding-top: 100%;
  display: block;
}
.categories > div{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0,0,0,0.5);
}
.categories > div > div{
  display: table;
  height: 100%;
  width:100%;
}
.categories > div > div > span{
  display: table-cell;
  vertical-align: middle;
  color: #ffffff;
  text-align: center;
}
.category_1{
  background-image: url(imghtml/uno.jpeg);
}
.category_2{
  background-image: url(imghtml/dos.jpeg);
}
.category_3{
  background-image: url(imghtml/tres.jpeg);
}
.category_4{
  background-image: url(imghtml/cuatro.jpg);
}
.category_5{
  background-image: url(imghtml/cinco.jpeg);
}
.category_6{
  background-image: url(imghtml/seis.jpeg);
}
.img_insta{
  margin-bottom: 30px;
}

.result{
  vertical-align: middle;
}

.logo_footer{
  width: 190px;
}

@media screen and (min-width: 992px) {
  body{
    padding-top: 100px;
  }
  .navbar {
      height: 100px;
   }
   .navbar-expand-md .navbar-collapse{
     width: 100%;
   }
  .logo-wenteruka {
    width: 450px;
  }
  .navbar-light .navbar-nav .nav-link {
    padding-right: 75px;
  }
  #nav-left {
    padding-left: 30px;
  }
}

/* Pagina de categorias */
.introductory_text{
  margin-top: 30px;
  margin-bottom: 30px;
}
.product_container{
  margin-top: 30px;
  margin-bottom: 30px;
}
.product_container .product_box{
  position: relative;
  margin-top: 30px;
  margin-bottom: 30px;
}
.product_container .product_box .product_stock{
  position: absolute;
  border-radius: 50%;
  background-color: black;
  color: white;
  text-align: center;
  padding: 30px 5px;
  font-size:14px;
  width: 80px;
  height: 80px;
  right:5px;
  top: 5px;
}
.product_container .product_box .product_info{
  margin-top:15px;
}
.product_container .product_box .product_info p{
  margin-bottom: 2px;
}
